<h1>Hello!</h1>
<p>The time is <strong><%= Time.now %></strong>.</p>

<hr>

<p>Use the resource routes pattern to get information about students.</p>

<ul>
  <li>
    <a href="javascript:void(0)" onclick="showStudents()">Student List</a>
  </li>
  <li>
    <form id="showStudentForm" action="javascript:void(0)">
      Student ID<input type="text" name="id">
      <button onclick="showStudent()">Show Student</button>
    </form>
  </li>
  <li>
    <h4>Edit Student</h4>
    <form id="editStudentForm" action="javascript:void(0)">
      Student ID:<input type="text" name="id">
      Student Name:<input type="text" name="name">
      Student Age:<input type="text" name="age">
      Student Github Name:<input type="text" name="github">
      <button onclick="editStudent()">Edit Student</button>
    </form>
  </li>
  <li>
    <h4>Add Student</h4>
    <form id="addStudentForm" action="javascript:void(0)">
      Student Name:<input type="text" name="name">
      Student Age:<input type="text" name="age">
      Student Github Name:<input type="text" name="github">
      <button onclick="insertStudent()">Add Student</button>
    </form>
  </li>
  <li>
    <h4>Delete Student</h4>
    <form id="deleteStudentForm" action="javascript:void(0)">
      Student ID<input type="text" name="id">
      <button onclick="deleteStudent()">Delete Student</button>
    </form>
  </li>
</ul>

<div id="response">
</div>